*{padding: 0;margin: 0;box-sizing: border-box;}
/* ==================== Cursor Animation Start ==================== */
#main-cursor{width: 50px;height: 50px;border-radius: 50%;background: #e7c82f;position: absolute;display: none;transition-duration: 0.5s;
    transition-timing-function: ease-out;}
div:hover ~ #main-cursor{transform: scale(0.5);}
/* ==================== Cursor Animation End ==================== */
/* For Desing Start */
.cursor{width: 100%;height: 100vh;background: #04192d;display: flex;align-items: center;flex-direction: column;flex-wrap: wrap;}
.box{flex-grow: 1;margin: 20px;border: 5px solid #e7c82f;color: #fff;z-index: 2;text-align: center;}
.one{width: 80%;height: fit-content;z-index: 2;}
.two{width: 80%;height: fit-content;z-index: 2;}
.three{width: 80%;height: fit-content;z-index: 2;}
.four{width: 80%;height: fit-content;z-index: 2;}
.five{width: 80%;height: fit-content;z-index: 2;}
/* For Desing End */