*{padding: 0;margin: 0;box-sizing: border-box;}
/* ==================== Make Custom Scrollbar Start ==================== */
.scrollbar{width: 100%;height: 1200px;background: #04192d;}
/* Scrollbar Start */
::-webkit-scrollbar{width: 15px;}
::-webkit-scrollbar-track{background: #d1e5ff;}
::-webkit-scrollbar-thumb{background: linear-gradient(#642bff , #ff22e6);}
/* Scrollbar End */
/* ==================== Make Custom Scrollbar End ==================== */